*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    position: relative;
}
body{
    background-color: dimgrey;
}
.start{
    display: inline-block;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;   
}
.box1{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
     transition: all 1s  linear; 
     animation-duration:2s;  
    animation-delay: 1s; 
    transform: scaleX(0.5); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
 }
.box2{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.1s  linear;
    animation-duration:2.1s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box3{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.2s  linear;
    animation-duration:2.2s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box4{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.3s  linear;
    animation-duration:2.3s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box5{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.4s  linear;
    animation-duration:2.4s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box6{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.5s  linear;
    animation-duration:2.5s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box7{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.6s  linear;
    animation-duration:2.6s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box8{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.7s  linear;
    animation-duration:2.7s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box9{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.8s  linear;
    animation-duration:2.8s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.box10{
    width: 10px;
    height: 50px;
    background-color: blue;
    animation-name: back;
    transition: all 1.9s  linear;
    animation-duration:2.9s;
    animation-delay: 1s;
    transform: scaleX(2); 
    transform: scaleY(1.5); 
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
 @keyframes back {

50%{
    height: 20px;
  }


 /* @keyframes back2 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back3 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back4 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back5 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back6{
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back7 {
    20%{height: 0 ;}

    40%{height: 0 ;}

    60%{height: 0 ;}

    80%{height:0 ;}

    100%{height:0 ;}
 }
 @keyframes back8 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back9 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 }
 @keyframes back10 {
    20%{height: 0 auto;}

    40%{height: 0 auto;}

    60%{height: 0 auto;}

    80%{height:0 auto;}

    100%{height:0 auto;}
 } */